h1 { /*css object ändrar egenskaperna på noderna i html*/
	color: red; 
	font-size: 70px;
}
.my-class{
	color:blue;
}
#my-id{
	color:yellow;
}
.my-div{
	width:200px;
	height:200px;
	background-color:pink;
}