@font-face {
  font-family: 'caviarbold';
  src: url("caviar_dreams_bold-webfont.woff2") format("woff2"), url("caviar_dreams_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'caviar';
  src: url("caviardreams-webfont.woff2") format("woff2"), url("caviardreams-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "caviar", sans-serif; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  background-color: #C0B283;
  font-family: "caviarbold", sans-serif;
  font-size: 1.5em;
  width: 100%; }

header h2,
h1 {
  margin: 0; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0em 8em 0em 11em;
  margin: 0;
  border: 1px #000 solid;
  background-color: #373737;
  color: #FFF; }

.navbar-small {
  display: none; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  background-color: #C0B283;
  padding: 0.5em;
  width: 60%;
  color: #FFF; }

.divs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 13em;
  margin: 2em 2em 1em 0;
  padding: 2em;
  border: 1px solid; }

.square-hidden {
  width: 30%;
  height: 13em;
  margin: 2em 0 0 2em;
  padding: 2em;
  background-color: #fff;
  color: #fff; }

.color1 {
  background-color: #DCD0C0; }

.color2 {
  background-color: #F4F4F4; }

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000; }

ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
  list-style: none; }
  ul a {
    color: #FFF; }
  ul a:active {
    font-weight: 800; }
  ul a:hover {
    color: #C0B283; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 1px solid;
  padding: 0.6em; }

footer p {
  margin: 0; }

@media (max-width: 36em) {
  header {
    font-size: 1em; }

  h2 {
    font-size: 1em; }

  .navbar {
    display: none; }

  .navbar-small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    padding: 1%;
    border: none;
    width: initial;
    background-color: #373737;
    color: #FFF;
    font-size: 1.2em; }

  .dropdown {
    display: none;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: #373737;
    color: #FFF; }

  .navbar-small:hover .dropdown {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  .square {
    width: 100%;
    font-size: 0.9em;
    padding: 0.5em;
    margin: 0; }

  .three {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }

  .diff-color {
    background-color: #DCD0C0; }

  .diff-color2 {
    background-color: #F4F4F4; }

  .square-hidden {
    display: none; }

  aside {
    width: 40%; } }
@media (max-width: 60em) and (min-width: 37em) {
  .navbar {
    font-size: 0.7em; }

  header {
    font-size: 1.2em; }

  aside {
    width: 80%; } }
